<!DOCTYPE html>
<html class="no-js">
  {% include header.html %}
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include nav.html %}
    <div class="background-image">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
            {% include googlead-top.html %}
            </div>
          </div>
        </div>
        {{content}}
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    {% include googleanalytics.html %}
    {% include googleads-scripts.html %}
  </body>
</html>
