---
layout: default
title: Projects
---

<section class="projects">
  <!-- Marketing messaging and featurettes-->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive" src="/img/auto-repair-promo750X556.jpeg" alt="Carmanate">
        <h2>Carmanate</h2>
        <p class="project-description">Carmanate is a simple web application for discovering maintenance data for your car or truck. </p>
        <p><a class="" href="https://github.com/glawson6/carmanate" role="button">GitHub &raquo;</a></p>
        <p><a class="btn btn-default" href="https://carmanate.herokuapp.com/" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-md-4">
        <img class="img-responsive" src="/img/spoonscore-512cropped.png" alt="Generic placeholder image">
        <h2>Spoonscore</h2>
        <p class="project-description">Spoonscore is an app that allows people to search for restaurants in their area. The app allows the user to find
          a restaurant, view a Yelp rating with possible inspection score and grade.</p>
        <p><a class="" href="https://github.com/glawson6/spoonscore" role="button">GitHub &raquo;</a></p>
        <p><a class="btn btn-default" href="http://spoonscore-web.gregorylawson.net/index.html" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div><!-- /.container -->
</section>
