<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/">Home</a>
      <a class="blog-nav-item" href="/about.html">About</a>
      <a class="blog-nav-item" href="/blogs.html">Blogs</a>
      <a class="blog-nav-item" href="/projects.html">Projects</a>
      <a class="blog-nav-item" href="/resume.html">Resume</a>
    </nav>
  </div>
</div>
